.header {
  display: flex;
  align-items: center;
}

.emptySpace {
  display: inline-block;
  width: 47px;
}

.contactsWrapper {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1440px) {

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: center;
    height: 55px;
    background-color: var(--mobileBlack);
  }

}
