.logoBlock {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.subtext {
  margin-top: 10px;
  width: 140px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}